<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=\, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Edit Page</h1>
    <hr />
    <form method="post">
        <fieldset>
            <legend>Edit Data</legend>
            <table>
                <tr>
                    <td><label>ID</label></td>
                    <td><input type="text" name="id" value="<%= data.id%>" disabled></td>
                </tr>
                <tr>
                    <td><label>NAME</label></td>
                    <td><input type="text" name="name" value="<%= data.name%>"></td>
                </tr>
                <tr>
                    <td><label>MODELNUMBER</label></td>
                    <td><input type="text" name="modelnumber" value="<%= data.modelnumber %>"></td>
                </tr>
                <tr>
                    <td><label>SERIES</label></td>
                    <td><input type="text" name="series" value="<%= data.series %>"></td>
                </tr>
            </table>
            <button type="submit">수정</button>
        </fieldset>
    </form>
</body>

</html>